.icone {
    width: 30px;
    margin: 30px;
    cursor: pointer;
}
.botao__sociais {
    text-align: center;
    background-color: #f7c524;
    height: 100px;
}
.rodape__faixa {
    background-color: #0f0f0f;
    font-size: 1.3rem;
    color: white;
    text-align: center;
    padding: 10px;
}